.app {
}

.header {
  padding: 8px;
}

.content {
  display: flex;
}

.leftBar {
  flex: 0 0 200px;
}

.postList {
  flex: 1 1 0;
}

.postView {
  flex: 0 0 50%;
}

.nav {
  list-style: none;
  display: flex;
}
.navLink {
}

.navLink:not(:last-child) {
  margin-right: 8px;
}

.navLink > a {
}

/* left bar ------------------ */
.leftBar {
  padding: 8px;
}
.tags {
}

.tagList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagList > li > *:not(:last-child) {
  margin-right: 4px;
}

.leftBar > *:not(:last-child) {
  margin-bottom: 10px;
}
