.box {
}

.boxDnd {
  background-color: white;
  border: 2px dashed #6266b7;
}

.isDragOver {
  background-color: #6266b799;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  padding: 32px 8px;

  font-size: 1.25em;
  font-weight: 300;
  /*color: white;*/
  /*background-color: black;*/
  display: inline-block;

  cursor: pointer;
}
/*
.inputFile:focus + label,
.inputFile + label:hover {
  background-color: red;
  border: 4px dashed #6266b7;
}
*/
.inputfile + label * {
  pointer-events: none;
}

.messageHidden {
  display: none;
}

.showDnd {
  display: inline;
}

.hideDnd {
  display: none;
}
