.round-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.35em;

  background-color: #151515;
  border: none;
  border-radius: 50%;
  font-size: var(--icon-size);
  color: #eee;
  box-shadow: 0 0 5px #151515;

  outline: none;
}
