.grid {
  display: flex;
  padding: 8px;
}

.grid__column {
  flex: 1 0 0;
}

.grid__column:not(:last-child) {
  margin-right: 8px;
}

.grid__column-container {
  display: flex;
  flex-direction: column;
}

.grid__column-container > :not(:last-child) {
  margin-bottom: 8px;
}

.image {
  width: 100%;
}
